@media (max-width: 768px) {
  .banner {
    background-color: #b1afaf;
    height: 106px;
  }

  .profile {
    display: flex;
    margin-left: 2em;
    margin-top: -1em;
    align-items: center;
    gap: 10px;
  }

  .image-profile {
    position: relative;
  }

  .image-profile img.btn-edit {
    background-color: #b1afaf;
    border-radius: 50%;
    width: 20px;
    padding: 2px;
    position: absolute;
    right: 0;
    bottom: 5px;
  }

  .profile-name h3 {
    font-weight: 800;
    font-size: 1.4em;
  }

  .profile-name p {
    opacity: 0.7;
    font-size: 0.9em;
  }

  main {
    margin: 0 auto;
    width: 80%;
  }

  .profile-input {
    background-color: #f4f4f4;
    width: 100%;
    height: 367px;
    margin: 2em auto;
    border-radius: 15px;
    padding: 1em;
    position: relative;
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.3);
  }

  .profile-input .label {
    position: absolute;
    right: 1em;
    padding: 5px;
    background-color: #b1afaf;
    border-radius: 10px;
  }

  .form-input {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .fullName,
  .email,
  .dateOfBirth {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .profile-input label {
    font-size: 20px;
    font-weight: 700;
  }

  .profile-input input {
    width: 100%;
    height: 35px;
    background-color: #cacaca;
    border: 1px solid #cacaca;
    border-radius: 5px;
  }

  .profile-input input:last-child {
    width: 35%;
    padding: 5px;
  }

  .profile-input .form-edit-input {
    position: relative;
  }

  .profile-input .edit {
    background-color: #cacaca;
    padding: 2px;
    width: 25px;
    position: absolute;
    right: 2px;
    top: 5px;
  }

  .btn-logout {
    background-color: #3d3838;
    display: flex;
    color: white;
    gap: 5px;
    padding: 8px;
    border-radius: 10px;
  }

  .btn-logout img {
    width: 1em;
  }
}
