* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(202, 202, 202, 1);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color:rgb(244, 244, 244);
    padding: 0 7vh 0 7vh;
    gap: 4vh;
    opacity: 85%;
    margin-top: -6vh;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    width: 57vh;
    height: 46vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.titleFont {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 0 2px #0c0b0b;
    -webkit-text-stroke: rgba(0, 0, 0, 0.25);
}

.text {
    font-size: 1.7vh;
    text-transform: uppercase;
    text-shadow: 0.3px 0.3px 3px #969696;
}

/* this is not too important */
#filler {
    width: 30PX;
}

.timeTotal {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 1.7vh;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: smaller;
    background-color: rgba(17, 16, 16, 0.59);
    width: 70px;
    height: 28px;
    border: none;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn:hover {
    background: #3b3b3b;
}

.btn:active {
    background: rgba(217, 217, 217, 1);
    top: 2px;
}