* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #cacaca;
}

@media (max-width: 768px) {
  header {
    padding: 2em;
    background-image: url(../../assets/image/web-1920x600-removebg-preview-uNt.png);
    background-repeat: no-repeat;
    background-size: 40em;
    background-position: top;
    background-position-x: -100px;
    height: 200px;
  }

  header img {
    border-radius: 100%;
    width: 50px;
    float: right;
  }

  .jumbotron {
    display: flex;
    justify-content: center;
  }

  .slogan {
    margin-top: -50px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 85%;
    height: 8em;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
  }

  .slogan h3 {
    font-size: 1.7em;
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 2px;
  }

  .slogan span,
  .slogan p {
    color: #d44074;
  }

  .slogan p {
    font-family: "Just Me Again Down Here", cursive;
    font-size: 1.2em;
  }

  .home-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    min-height: 50vh;
  }

  .home-item {
    display: flex;
    background-color: #ffffff;
    width: 80%;
    padding: 2em;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow: 10px 10px 0 1px rgb(98, 98, 98);
    align-items: center;
    gap: 1em;
  }

  .home-item img {
    width: 4em;
    height: 3em;
  }

  .home-item .text {
    font-size: 1.6em;
    font-weight: 800;
  }

  footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  nav {
    display: flex;
    background-color: #3d3838;
    justify-content: space-around;
    align-items: center;
    height: 3.5em;
    padding: 1em;
  }

  nav img {
    width: 1.5em;
  }
}
